.floating_input input::placeholder {
  opacity: 0;
}
.floating_input input:focus::placeholder {
  opacity: 1;
}

.floating_input label {
  transform: translateY(0);
  pointer-events: none;
}
.floating_input:focus-within > label {
  transform: translateY(-1.6rem);
  font-size: 0.75rem;
}
.floating_input > input:not(:placeholder-shown) ~ label {
  transform: translateY(-1.6rem);

  font-size: 0.75rem;
}
