.table_header > th:nth-child(1) {

}
.table_header > th:nth-child(n + 2) {
	position: relative;
}

.table_header > th:nth-child(n + 2)::after {
	content: "";
	position: absolute;
	width: 3px;
	left: 0;
	top: 25%;
	height: 50%;
	background-color: rgb(31, 41, 55);
	border-radius: 999px;
}
.table_rows >td:first-of-type(){
border-left-style: inset;
}
